<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DomainAnalysis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <DomainAnalysis.Properties.Settings>
            <setting name="AutoRawMaterialFileDir" serializeAs="String">
                <value />
            </setting>
            <setting name="ManualRawMaterialFileDir" serializeAs="String">
                <value />
            </setting>
            <setting name="ManualModelFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoWizardRawFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoWizardIsDeleteExistingFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoWizardTopicNumberArray" serializeAs="String">
                <value>25,30,35,40</value>
            </setting>
            <setting name="AutoWizardMaxIteration" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="ManualWizardModelFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ManualWizardRawFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ManualWizardIsDeleteExistingFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoIsDeleteExistingFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ManualIsDeleteExistingFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExtraManualSearchTerms" serializeAs="String">
                <value />
            </setting>
        </DomainAnalysis.Properties.Settings>
    </userSettings>
</configuration>